@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
/* Required bootstrap`s files */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
/* Import bootstrap`s containers */
@import 'node_modules/bootstrap/scss/containers';

@import 'libs.scss';
@import '_variables.scss';

body {
  font-family: 'Inter', 'Open Sans', sans-serif, --apple-system;
  box-sizing: border-box;
}

input:focus {
  outline:none;
}

@import 'widget';
@import 'inputs';